.btn {
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1rem 6rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 2.6rem;
    letter-spacing: 3px;
    display: inline-block;
    text-align: center;
    border-radius: 1.5rem;

  }

  &--header {
    background-color: transparent;
    color: $color-white;
    border: 2px solid $color-white;

    &:hover {
      background-color: rgba($color-white, .9);
      color: $color-primary;
      font-weight: 600;
    }
  }

  &--landing {
    animation: fadeIn .5s ease-out 2s;
    animation-fill-mode: backwards;
  }
}


