@import 'abstracts/variables';
@import 'abstracts/mixins';

.section-title {
  font-family: $default-header-font;
  font-weight: 600;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: $color-grey-light;
  font-size: 4.5rem;

  @include respond(tab-port) {
    font-size: 3.2rem;
  }
}
