<footer class="footer">
  <div class="footer__logo">
    <img src="/assets/img/logo.png" alt="The Logo" class="footer__logo--img">
  </div>
  <h2 class="footer__name">Mountain Coffee</h2>


  <div class="footer__container row">

    <div class="col-1-of-2">
      <ul class="footer__links">
        <li class="footer__links--item"><a href="#" class="footer__links--link">Company</a></li>
        <li class="footer__links--item"><a href="#" class="footer__links--link">Contact Us</a></li>
        <li class="footer__links--item"><a href="#" class="footer__links--link">Franchising</a></li>
        <li class="footer__links--item"><a href="#" class="footer__links--link">Privacy Policy</a></li>
        <li class="footer__links--item"><a href="#" class="footer__links--link">Terms</a></li>
      </ul>
    </div>

    <div class="col-1-of-2">
      <div class="footer__copy ">
        &copy;IkeHunter Web Development 2021, All Rights Reserved.
      </div>
    </div>


  </div>
</footer>
