@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin title {
  font-family: $default-header-font;
  font-weight: 600;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: $color-grey-light;
  font-size: 4.5rem;
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
