// RESPONSIVE DESIGN
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content };  // 600px
  }

  @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) { @content };  // 900px
  }

  @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) { @content };  // 1200px
  }

  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) { @content };  // 1800px
  }
}


// OTHERS
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin title {
  font-family: $default-header-font;
  font-weight: 600;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: $color-grey-light;
  font-size: 4.5rem;

  @include respond(phone) {
    // font-size: 3.7rem;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin horizCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}


