@import 'components/title';
@import 'abstracts/mixins';
@import 'base/animations';

.reviews {
  background-image: radial-gradient(circle at center, rgba($primary-gradient-color-1, .3), rgba($primary-gradient-color-2, .9)), url("/assets/img/review-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 82%;
  background-blend-mode: luminosity;

  border-radius: 10px;

  position: relative;
  height: 115rem;
  width: 80%;
  margin: $default-section-margin auto 0 auto;

  @include respond(tab-land) {
    width: 100%;
  }



  &__heading {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__card {
    $side-offset: 5%;

    position: absolute;
    transition: all 2s;

    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    background-color: rgba($color-grey-light, .8);

    border-radius: 5px;
    width: 95rem;
    height: 19rem;
    padding: 1rem;
    color: $color-grey-1;

    @include respond(tab-port) {
      width: 100%;
      border-radius: 0;
    }




    &:hover {
      transition: clip-path .8s ease-out;
      clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
    }

    &--1 {
      top: 20%;
      left: $side-offset;
    }

    &--2 {
      top: 70%;
      left: $side-offset;
    }

    &--3 {
      top: 45%;
      right: $side-offset;
      clip-path: polygon(0 50%, 10% 0, 100% 0, 100% 100%, 10% 100%);

      &:hover {
        transition: clip-path .8s ease-in;
        clip-path: polygon(0 50%, 0% 0, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &--3 &--person { float: right; }

    &--3 &--container {
      text-align: right;
      float: right;
    }

    &--person {
      position: relative;
      display: block;
      height: 100%;
      // width: 10rem;
      width: 10%;
      float: left;
      margin: 0 1.8rem;

      &--face {
        @include absCenter;
        top: 45%;
        width: 10rem;
        border-radius: 50%;
      }
      &--name {
        position: absolute;
        top: 80%;
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
      }
    }
    &--container {
      position: relative;
      display: block;
      padding: 2rem;
      margin: 0 3rem;
      height: 100%;
      float: left;
      width: 70%;


      &--title {
        display: block;
        font-size: 3rem;
        font-family: $default-header-font;
        color: $color-primary;
      }
      &--content {
        // font-size: 1.8rem;
        margin-top: 1.5rem;
        font-style: italic;
      }
    }



  }

  @include respond(tab-land) {
    border-radius: 0;
    overflow: hidden;

    height: 150rem;

    & > &__card {
      margin: 25rem auto 0 auto;
    }
    & > &__card ~ &__card {
      margin: 5rem auto 0 auto;
    }

    &__card {
      position: relative;
      clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
      width: 80%;
      height: 36rem;
      // float: left;
      top: auto;
      left: auto;
      right: auto;
      // transform: translate(2.5%, 0);

      &--person {

        width: 20%;
        float: left;
        margin: 0 1.8rem;

        &--face {
          @include absCenter;
          top: 45%;
          width: 15rem;
          border-radius: 50%;
        }
        &--name {
          position: absolute;
          top: 75%;
          width: 100%;
          text-align: center;
          font-size: 2rem;
        }
      }

      &--container {
        text-align: left !important;
        float: left !important;
        width: 70%;
        margin: 1rem;
        &--content {
          line-height: 4rem;
        }
      }

      &--person {
        float: left !important;
      }
    }

  }

  @include respond(tab-port) {

    height: 130rem;


    &__card {
      position: relative;
      clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%) !important;
      width: 95%;
      height: 25rem;
      // float: left;
      top: auto;
      left: auto;
      right: auto;
      // transform: translate(2.5%, 0);

      &--person {

        width: 20%;
        float: left;
        margin: 0 1.8rem;

        &--face {
          @include absCenter;
          top: 45%;
          width: 15rem;
          border-radius: 50%;
        }
        &--name {
          position: absolute;
          top: 80%;
          width: 100%;
          text-align: center;
          font-size: 2rem;
        }
      }

      &--container {
        text-align: left !important;
        float: left !important;
        width: 70%;
        margin: 1rem;
        &--content {
          line-height: 2.1rem;
        }
      }

      &--person {
        float: left !important;
      }
    }

  }

  @include respond(phone) {
    border-radius: 0;

    &__card {
      $side-offset: 5%;

      position: relative;
      transition: all 2s;

      background-color: rgba($color-grey-light, .8);

      border-radius: 5px;
      width: 100%;
      // height: 35rem;
      padding: 1rem;
      color: $color-grey-1;



      &--3 &--person { float: right; }

      &--3 &--container {
        text-align: right;
        float: right;
      }

      &--person {
        // width: 0;
        // display: none;
        // position: relative;
        // display: block;
        // height: 100%;
        // width: 10rem;
        // float: left;
        // margin: 0 1.8rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &--face {
          width: 0;
          display: none;
          // @include absCenter;
          // top: 45%;
          // width: 10rem;
          // border-radius: 50%;
        }
        &--name {
          position: absolute;
          top: 85%;
          right: 5%;
          width: 100%;
          text-align: right;
          font-size: 2rem;

        }
      }
      &--container {
        position: relative;
        display: block;

        margin: 0;
        height: 100%;
        float: left;
        width: 100%;


        &--title {
          display: block;
          font-size: 3rem;
          font-family: $default-header-font;
          color: $color-primary;
          text-align: center;
        }
        &--content {
          // font-size: 1.8rem;
          margin-top: 1.5rem;
          font-style: italic;
          text-align: center;
        }
      }



    }

  }
}
