<section class="reviews">
  <div class="reviews__heading">
    <h1 class="reviews__heading--title section-title">Customer Reviews</h1>
  </div>
  <div class="reviews__card reviews__card--1">
    <div class="reviews__card--person">
      <img src="/assets/img/review-person-1.jpg" alt="" class="reviews__card--person--face">
      <p class="reviews__card--person--name">Jane Doe</p>
    </div>
    <div class="reviews__card--container">
      <h3 class="reviews__card--container--title">
          Best Coffee Ever!
      </h3>
      <p class="reviews__card--container--content">
        This was the absolute best coffee I have ever tasted in my life! Thank you so much Mountian Coffee for this great addition to my morning routine!
      </p>
    </div>
  </div>

  <div class="reviews__card reviews__card--2">
    <div class="reviews__card--person">
      <img src="/assets/img/review-person-2.jpg" alt="" class="reviews__card--person--face">
      <p class="reviews__card--person--name">Mark Doe</p>
    </div>
    <div class="reviews__card--container">
      <h3 class="reviews__card--container--title">
          Wonderful Customer Service
      </h3>
      <p class="reviews__card--container--content">
        I received my package of coffee late in the mail and contacted Mountain Coffee customer support, they refunded me my purchase and sent me a new package of coffee! I am very pleased with how they handled it!
      </p>
    </div>
  </div>

  <div class="reviews__card reviews__card--3">
    <div class="reviews__card--person">
      <img src="/assets/img/review-person-3.jpg" alt="" class="reviews__card--person--face">
      <p class="reviews__card--person--name">John Doe</p>
    </div>
    <div class="reviews__card--container">
      <h3 class="reviews__card--container--title">
        Easy to Understand Ordering Process
      </h3>
      <p class="reviews__card--container--content">
        I am a very busy person, and I greatly enjoy the easy process it is to order new boxes of coffee! I can set up recurring orders, or quickly order a new box if I need to. This makes it one less thing I need to worry about!
      </p>
    </div>
  </div>
</section>
