<section class="reviews">
  <div class="reviews__heading">
    <h1 class="reviews__heading--title section-title">Customer Reviews</h1>
  </div>
  <div class="reviews__card">
    <div class="reviews__card--person">
      <img src="/assets/img/review-person-1.jpg" alt="" class="reviews__card--person--face">
      <p class="reviews__card--person--name">Jane Doe</p>
    </div>
    <div class="reviews__card--container">
      <h3 class="reviews__card--container--title">
          Best Coffee Ever!
      </h3>
      <p class="reviews__card--container--content">
        This was the absolute best coffee I have ever tasted in my life! Thank you so much Mountian Coffee for this great addition to my morning routine!
      </p>
    </div>
  </div>
</section>
