<section class="u-margin-top-huge section-about">
  <header class="about-header">
    <div class="row-content">

        <h1 class="about-header__title default-heading">
          What is <br>Mountain Coffee?
        </h1>

        <div class="about-header__content large-content">
          <div class="about-header__content--container">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, odit ipsam iure repudiandae pariatur repellendus molestias id non voluptates totam accusantium inventore adipisci, hic modi distinctio, optio tempore. Cum, harum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, odit ipsam iure repudiandae pariatur repellendus molestias id non voluptates totam accusantium inventore adipisci, hic modi distinctio, optio tempore. Cum, harum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, odit ipsam iure repudiandae pariatur repellendus molestias id non voluptates totam accusantium inventore adipisci.</p>
          </div>
        </div>
    </div>

  </header>
  <!-- <div class="u-margin-top-huge"></div> -->
</section>
