@import "abstracts/variables";
@import "abstracts/mixins";

.about {
  box-shadow: 0 1rem 3rem rgba($color-grey-dark, 0.2);

  &-header {
    background-image: linear-gradient(to left bottom, rgba(66, 66, 66, 0.3), rgba(0, 0, 0, 0.7)), url("/assets/img/header-1.jpg");
    background-image: -webkit-linear-gradient(to left bottom, rgba(66, 66, 66, 0.3), rgba(0, 0, 0, 0.7)), url("/assets/img/header-1.jpg");
    background-size: cover;
    background-position: center;
    // background-blend-mode: color-burn;


    height: 90rem;
    // max-height: 90rem;

    & .row-content {
      height: 100%;
      position: relative;
      overflow: hidden;

    }

    &:hover &__title {
      font-size: 4.8rem;
    }

    &__title {
      @include title;
      transition: all .5s ease-in-out;
      overflow: hidden;

      text-align: center;
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);

    }

    &__content {
      background-color: transparent;
      box-shadow: 0 0 6rem rgba($color-black, 0.8);
      ;
      height: 101%;
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);

      &--container {
        background-color: $color-white;
        // width: 50rem;
        width: 100%;
        height: 100%;
        // clip-path: polygon(0 0, 10% 0, 100% 100%, 0 100%);

        position: relative;
        background-color: $color-grey-dark;

      }

      & p {
        position: absolute;
        top: 6%;
        width: 83%;
        height: 100%;
        transform: translate(10%, 0);
        color: $color-grey-light;
        // font-size: 2rem;
        line-height: 5rem;
        letter-spacing: .1rem;

        &::before {
          content: "";
          width: 25%;
          height: 100%;
          float: left;
          shape-outside: polygon(0% 0%, 100% 0%, 0% 100%);

        }

      }
    }

  }

  @include respond(tab-land) {
    &-header__content p {
      line-height: $tab-land-line-height;
    }
  }

  @include respond(tab-port) {

    &-header {

      background-image: linear-gradient(to left bottom, rgba(66, 66, 66, 0.7), rgba(0, 0, 0, 0.9)), url("/assets/img/header-1.jpg");
      background-size: cover;
      background-position: center;
      background-blend-mode: multiply;

      height: 70vh;
      &__title {
        @include horizCenter;
        width: 100%;
        top: 10%;
        font-size: 3rem;

      }

      &__content {
        @include horizCenter;
        // top: auto;
        // bottom: 0rem;
        margin-top: 12rem;
        width: 95%;
        height: 70%;
        clip-path: none;
        border-radius: $default-border-radius;

        box-shadow: none;

        &--container {
          background-color: transparent;

        }

        & p {
          // position: relative;
          @include absCenter;
          transform: translate(-50%, -40%) !important;
          width: 100%;
          transform: none;
          text-align: center;
          padding: 2rem;
          border-radius: $default-border-radius;
          line-height: $tab-port-line-height;

          &::before {
            width: 0;
          }
        }
      }
    }


  }

  @include respond(phone) {
    &-header {
      height: 100rem;
    }
  }



}

