.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgb(27, 19, 16), rgba(119, 61, 42, 0.603)) , url('/assets/img/landing-img.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);

  position: relative;
}

.header-box {
  position: absolute;

  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
  backface-visibility: hidden;
}

.header-main {
  color: #fff;
  font-family: 'Nunito', sans-serif;  /* 300 400 600 700 */
  text-transform: uppercase;
  text-align: center;



  margin-bottom: 50px;
}

.header-move-animation {
  animation: moveUp 1s ease-out 1s;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}

.header-main-title {
  display: block;
  font-weight: 600;
  font-size: 55px;
  letter-spacing: 12px;

  animation: moveInLeft 1s ease-out;
}

.header-main-sub {
  display: block;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 4px;
  animation: moveInRight 1s ease-out;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;

  animation: fadeIn .5s ease-out 2.5s;
  animation-fill-mode: backwards;
}

.logo {
  height: 100px;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 25px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  display: inline-block;

  border-radius: 100px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px #202020;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px #202020;
}

.btn-header {
  background-color: #fff;
  color: #793e2a;
  font-size: 25px;

  animation: fadeIn .5s ease-out 2s;
  animation-fill-mode: backwards;
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  /* 0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, -100px);
  } */

  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%
  }
}
