.default-heading {
  font-size: 6rem;
}

.heading-3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.7rem;
}

.default-content {
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: $color-font-primary;
}

.large-content {
  font-size: 2rem;
  line-height: 2.7rem;
  color: $color-font-primary;
}

@include respond(tab-land) {
  .default-content {
    font-size: 2.4rem;
    line-height: $tab-land-line-height;
  }

}

@include respond(tab-port) {
  .default-content {
    font-size: 3rem;
    line-height: $tab-port-line-height;
  }

  .heading-3 {
    font-size: 4rem;
  }
}

@include respond(phone) {
  .default-content {
    font-size: 2.4rem;
  }
}
